html { 
	height: 100%;
}

* {
	margin:0;
	padding:0;	
}

body { 
	font-family: 'Raleway', sans-serif;
	font-size: .9em;
	background: url(../ecailles.png);
	color: #555;
}

p { 
	padding: 0 0 20px 0;
	line-height: 1.5em;
}

img
{ border: 0;}

h1{ 
	padding: 0 0 5px 0;
}

h1, h2{ 
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
	color: #000;
}

h2{ 
	font-size: 1.7em;
	padding: 9px 0 5px 0;
	color: #B48A7C;
}

h3{ 
	font-size: 1.4em;
	padding: 5px 0 0 0;
}

a, a:hover { 
	outline: none;
	text-decoration: underline;
	color: #B48A7C;
}

a:hover { 
	text-decoration: none;
}

ul {
	margin: 2px 0 22px 17px;
}

ul li{ 
  list-style-type: none;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

#main, #logo, #menubar, #site-content, #footer { 
	margin-left: auto; 
  	margin-right: auto;
}

#header { 
	background: #034430;
	border-bottom: 1px solid #3d3d3d;
    height: 20%;
}
#banner {
	width: 750px;
	margin: 0 auto 20px;
}
#banner img{
	width: 750px;
	border: 10px solid #DDD;
}

#logo { 
	width: 65%;
	position: relative;
	height: 140px;
	background: #1d1d1d;
}

#logo #logo-text { 
	position: absolute; 
	top: 10px;
	left: 0;
}

#logo h1, #logo h2 { 
	border-bottom: 0;
	text-transform: none;
	margin: 0 0 0 9px;
}

#logo-text h1, #logo-text h1 a, #logo-text h1 a:hover { 
	font-size: 1.7em;
	padding: 22px 0 0 0;
	color: #FFF;
	letter-spacing: 0.1em;
	text-decoration: none;
}

#logo-text h1 a .logo-color { 
	color: #7ABA71;
}

#logo-text a:hover .logo-color { 
	color: #FFF;
}

#logo-text h2 { 
	font-size: 120%;
	padding: 4px 0 0 0;
	color: #7ABA71;
}

#menubar { 
	width: 64%;
	height: 45px;
	padding-right: 13px;
	background: #2D2D2D;
	border-top: 1px solid #3D3D3D;
} 

ul#menu{ 
	float: right;
	margin: 0;
}

ul#menu li{ 
	float: left;
	padding: 0 0 0 9px;
	list-style: none;
	margin: 8px 4px 0 4px;
}

ul#menu li a { 
	display: block; 
	float: left; 
	height: 20px;
	padding: 6px 10px 5px 10px;
	text-align: center;
	color: #FFF;
	text-decoration: none;
	background: #034430;
} 

#menu li.selected a{ 
	height: 20px;
	padding: 6px 10px 5px 5px;
}

#menu li.selected { 
	margin: 8px 4px 0 13px;
	background: #79B2A1;
}

#menu li.selected a, ul#menu li.selected a:hover { 
	background: #79B2A1;
	color: #FFF;
}

ul#menu li a:hover{ 
	color: #7ABA71;
}

#site-content{ 
	width: 100%;
	overflow: hidden;
	margin: 20px auto 0 auto;
	padding: 0 0 10px 0;
} 

#sidebar-container{ 
	float: left;
	width: 26%;
}

.sidebar { 
	float: right;
	width: 222px;
	padding: 0;
	margin: 0 0 16px 0;
}

.sidebar-item { 
	border-left: thin solid #AAAAAA;
	border-right: thin solid #AAAAAA;
	padding: 0 15px;
	width: 180px;
}

.sidebar li a.selected { 
	color: #444;
} 

.sidebar ul { 
	margin: 0;
} 

#content{ 
	text-align: left;
	width: 70%;
	padding: 0 0 0 5px;
	float: right;
}
  
#content ul { 
	margin: 2px 0 22px 0px;
}

#footer { 
	width: 100%;
	height: 20%;
	padding: 28px 0 5px 0;
	text-align: center; 
	background: #000;
	border-top: 2px solid #2D2D2D;
	color: #FFF;
}
.more-news {
	display: none;
}

#footer p { 
	line-height: 1.3em;
	padding: 0 0 0 0;
}

.featured {
	display: inline-flex;
}
.featured-item {
	text-align: justify;
    width: 165px;
}

.featured-item img{
	display: block;
	margin: 0 auto;
}

.review-container {
	border-bottom: thin solid #8D8D8D;
	padding: 20px 0 20px 0;
	width: 700px;
}

.featured-item img {
	width: 165px;
	height: 165px;
}
.review-container img, .review-container h2 {
	display: inline-flex;
}

.review-container img {
	border-radius: 150px;
	border: medium solid #AAAAAA;
}
#more-news-1 {
	display: none;
}

#more-news-2 {
	display: none;
}

.mission-statement {
	display: none;
}

@media (max-width: 1097px){
	#logo-text h1, #logo-text h1 a, #logo-text h1 a:hover { 
		font-size: 1.3em;
	}
	#logo-text h2 {
		font-size: .9em;
	}
	.review-container {
		width: 600px;
	}
}

@media (max-width: 895px){
	#banner {
		width: 600px;
	}
	#banner img {
		width: 600px
	}
	.review-container {
		width: 500px;
	}
	#sidebar-container {
		width: 150px;
	}
	.sidebar {
		width: 130px;
	}
	.sidebar-item {
		width: 130px;
	}
}

@media (max-width: 763px){
	#menu li {
		font-size: .8em;
	}
	#banner {
		width: 400px;
	}
	#banner img {
		width: 400px
	}
	
	#sidebar-container {
		display: none;
	}
	.sidebar-item {
		display: none;
	}
	.mission-statement {
		display: block;
	}
	#content {
		width: 90%;
		margin: 0 auto;
	}
}

@media (max-width : 633px ){
	#banner {
		display:none;
	}
	#menu li {
		font-size: .7em;
	}
	.sidebar {
		display: none;
	}
	#site-content {
		width: 497px;
		margin: 0 auto;
		
	}
	#site-content ul {
		width: 400px;
	}
	#footer {
		width: 100%;
	}

	#logo-text h1, #logo-text h1 a, #logo-text h1 a:hover { 
		font-size: 17px;
	}
	#logo-text h2 {
		font-size: 11px;
	}
	.featured {
		display: block
	}
	.mission-statement {
		width: 350px;
		font-size: .8em;
	}
	.review-container {
		width: 400px;
	}
}

@media (max-width: 480px){
	#menu li {
		font-size: 8px;
	}
	#site-content {
		width: 450px;
	}
	#content {
		margin: 0 auto;
	}
}

@media (max-width: 444px){
	#site-content {
		width: 100%;
	}
	#content {
		margin-right: 20px;
	}
	#menu a {
		padding: 0px;
	}
	#logo {
		width: 100%;
	}
	#menubar {
		width: 100%;
		padding-right: 0;
	}
	.featured {
		width: 200px;
		margin: 0 auto;
	}
}
